<h1 class="text-center">Welcome <%= current_user.email if user_signed_in? %></h1>
<div class="d-flex justify-content-center my-3">
  <%= link_to "Sign-in", new_user_session_path, class: "btn btn-outline-success" unless user_signed_in? %>
  <%= link_to "Create New", new_post_path, class: "btn btn-outline-primary" %>
  <%= button_to 'Sign-Out', destroy_user_session_path, method: :delete, class: "btn btn-outline-danger" if user_signed_in? %>
</div>

<div class="container">
  <% @posts.each do |post| %>
    <div class="card bg-light">
      <p class="d-flex justify-content-center mt-4"><%= image_tag post.image.url, class: "card-img-top", style: "height: 300px; width: 450px" if post.image? %></p>
      <div class="card-body">
        <h4 class="card-title"><%= post.user.email %></h4>
        <h5 class="card-text"><%= post.name %></h5>
        <p class="card-text"><%= post.content %></p>
        <p class="card-text"><small class="text-muted">Last updated <%= post.updated_at %></small></p>
        <hr>
        <div class="d-flex justify-content-center">
          <%= link_to "Edit", edit_post_path(post), class: "btn btn-warning mx-2" if post.user == current_user %>
          <%= button_to "Delete", post_path(post), method: :delete, class: "btn btn-danger" if post.user == current_user %>
        </div>
      </div>
    </div>
    <div class="accordion" id="accordionBasic">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Comments
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionBasic">
          <div class="accordion-body d-flex">
            <%= link_to "Add Comment", new_post_comment_path(post), class: "mx-5" %>
            <%= link_to "See Comments", post_comments_path(post), class: "mx-5" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
